.mrmnops,
.mrmnops-a,
.mrmnops-a-a,
.mrmnops-a-a-a,
.mrmnops-a-a-a-a,
.-einfs,
.nwslTypei-a-b-a,
.nwslTypei-a-c-a,
.nws-body-boxElemnt,
.nwslTypei-a-a_,
.nwslTypei-a,
.nwslTypei,
.nws-body,
.nws-head-b,
.nws-head-a,
.nws-head,
.nwsl-a-a-a-a,
.nwslA,
.nwsl-a-a-a-b,
.mrmnops-a-a-a-b,
.nwsl,
.nwsl-a,
.nwsl-a-a,
.nwsl-a-a-a,
.nws-body-a,
.nwslTypei-a-a_ i,
.nwslSubmit,
.sdbr_b,
.sdbr_b form,
.sdbr_b-a,
.sdbr_b-b,
.sdbr_b-c {
	width: 100%;
	height: auto;
	display: inline-block;
	box-sizing: border-box;
}

.mrmnops-a-a {
	padding: .1px;
	background: transparent none repeat scroll 0% 0%;
}

.mrmnops-a-a-a {
	display: inherit;
	padding: .6em;
	border-radius: .2em;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	-ms-border-radius: .2em;
	-o-border-radius: .2em;
}

.mrmnops-a-a-a {
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
}

.mrmnops-a-a-a:hover {
	background: rgb(248, 248, 248) none repeat scroll 0% 0%;
	border-color: rgb(231, 230, 230);
}

.mrmnops-a-a-a-a {
	padding: .0em .0em .4em;
}

.mrmnops-a-a-a-a {
	font: lighter 18px "Eras Demi ITC";
	color: #444;
}

.mrmnops-a-a-a-b {
	font: lighter 14px "Corbel";
	color: #888;
}

#nwsl {
	width: 790px;
	min-height: auto;
	background: transparent none repeat scroll 0% 0%;
	position: absolute;
	box-sizing: border-box;
	padding: .8em .0em 2em;
	left: .0px;
}

.nwsl-a-a {
	padding: .8em .6em;
	border-style: none;
	border-color: transparent;
	border-width: .0px;
}

.nwsl-a-a-a-a {
	padding: .0px .0px .4em;
}

.nwsl-a-a-a-a-a {
	font: lighter 28px "Berlin Sans FB";
	color: rgb(122, 121, 121);
}

.nwsl-a-a-a-b-a {
	font: lighter 17px "Calibri Light";
	color: #000;
}

.nwsl-a-a:hover h3,
.nwsl-a-a:hover span {
	text-decoration: underline;
}

.nwsl-a-a-a-b-b {
	display: inline-block;
	width: 100%;
	height: auto;
	padding: .4em .0em .0em;
	box-sizing: border-box;
}

.nwsl-a-a-a-b-b {
	font: lighter 15px sans-serif, verdana;
	color: #909090;
}

.nws-body-boxElemnt {
	background: #fbfbfb none repeat scroll 0% 0%;
	border: 1px solid #dfdfdf;
	padding: .6em;
	margin: .4em .0em;
}

.nws-body-italictext {
	font-style: italic;
}

.nws-body-underlinetext {
	text-decoration: underline;
}

.nws-body-boldtext {
	font-weight: bold;
}

.nws-body-listElement,
.nws-body-listElement li {
	list-style-type: upper-roman !important;
	list-style: upper-roman !important;
}

.nws-body-listElement {
	box-sizing: border-box;
	padding-left: +30px;
}

.nws-head {
	padding: .8em .4em .5em;
}

.nws-head-a {
	margin-bottom: .4em
}

.nws-title {
	font: lighter 36px "Berlin Sans FB";
	color: #333;
}

.nws-head-b,
.nws-body {
	padding: .0em .4em .5em;
}

.nws-head-b-a {
	font: lighter 17px sans-serif, verdana;
	color: #000;
}

.nws-body-a {
	padding: .0em .2em;
}

.nws-body-a {
	font: lighter 15px "Tahoma";
	color: rgb(82, 82, 82);
	line-height: 1.6em;
	word-spacing: .2em;
	letter-spacing: .1em;
}

.nws-body-a,
.nws-body-a * {
	word-wrap: break-word;
	white-space: normal;
}

.nwslTypei {
	border: 1px solid rgb(228, 228, 228);
	box-shadow: rgba(0, 0, 0, 0.19) 4px 4px 30px;
	min-height: 1000px;
}

.nwslTypei-a {
	padding: 4.2em !important;
	margin: 1px;
	box-sizing: border-box;
	max-width: 100%;
	background: transparent none repeat scroll 0% 0%;
}

.nwslTypei-a-a_ {
	padding: .4em .0em;
}

.nwslTypei-a-a-a {
	width: 100%;
	min-height: 40px;
	background: transparent none repeat scroll 0% 0%;
}

i {
	outline: 0px;
	border: 0px;
}

.nwslTypei-a-b {
	font: lighter 16px sans-serif, verdana;
	color: #999999;
}

.nwslTypei-a-b-a {
	min-height: 20px;
}

.nwslTypei-a-c-a {
	width: 100%;
	min-height: 800px;
	background: transparent none repeat scroll 0% 0%;
}

.nwslTypei-a-c-a {
	width: 100%;
	min-height: 800px;
	background: transparent none repeat scroll 0% 0%;
}

.nwslTypei-a-c-a {
	width: 100%;
	min-height: 800px;
	background: transparent none repeat scroll 0% 0%;
}

.nwslSubmit {
	padding: 1.3em .0em .3em;
}

.nwslSubmit-a {
	float: left;
	display: inline-block;
}

.nwslSubmit-a-a {
	padding: .7em 1.7em;
	border: 1px solid #e0e0e0;
	background: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.19) 4px 4px 10px;
}

.nwslSubmit-a-a {
	font: lighter 16px "Consolas";
	color: #444;
}

.sdbr_b-a {
	padding: .6em .0em;
}

.sdbr_b-a-a {
	font: lighter 21px "Verdana";
	color: #333;
}

.sdbr_b-b {
	padding: .2em .0em .6em;
}

.sdbr_b-b-a {
	font: lighter 14px sans-serif, verdana;
	color: #999;
}

.sdbr_b-c {
	background: rgb(247, 247, 247);
	border: 1px solid rgb(221, 221, 221);
	width: 85%;
	padding: .6em;
	border-radius: 2px;
}

.sdbr_b-c-a {
	position: relative;
	width: 100%;
	height: 100%;
	background: none;
	display: inline-block;
}

.sdbr_b-c,
.sdbr_b-c-a,
.sdbr_b-c-a-a {
	cursor: pointer;
}

.sdbr_b-c-a-a {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
}

.sdbr_b-c-a {
	font: lighter 17px sans-serif, verdana;
	color: #444;
}

.sdbr_b-d {
	width: 100%;
	height: auto;
	display: inline-block;
	padding: .4em .0em .0em;
	box-sizing: border-box;
}

.sdbr_b-d-a {
	padding: .6em 1.4em;
	border: 1px solid #d0d0d0;
	background: #fefefe;
}

.-einfs {
	white-space: normal;
	word-wrap: break-word;
	font: lighter 18px "Eras ITC";
}